* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
    font-size:x-large;
}

body {
    background-color: #1b242c;
}

.searchSect {
    background-color: #4580A9;
    padding-top: 20px;
}

.searchSect h2{
    text-align: center;
    background-color: #4580A9;
}

.searchSect p {
    text-align: center;
}

.searchSect input {
    text-align: center;
}

.drinkBtns {
    display: flex;
    justify-content: center;
    background-color: #3FBDCB;
}

.searchBtn {
    margin: 5px;
}

.randoBtn {
    margin: 5px;
}

.names {
    margin: 5px;
}

.ingreds {
    margin: 5px;
}

.randoInfo {
    margin: 5%;
    text-align: center;
    background-color: lightpink;
}

.randoInfo h3 {
    background-color: #B6324F;
}

.ingrLi {
    display: inline-block;
    text-align: left;
    font-size: larger;
}

.ingrLi li::before {
    content: "\2022";
    color: black;
    width: 1em;
}

ul li::before {
    content: "\2022"; 
    color: white; 
    width: 1em;
    display: inline-block;
}